#subIndex {
    width: 1000px;
    height: auto;
    background-color: rgb(221, 221, 221);
    margin: 0 auto;
    padding: 0;
}
#navigator2 {
    width: 1000px;
    height: 180px;
    margin: 0 auto;
    padding: 0;
    background-image: url("../images/sub_nav.png");
    background-size: 1000px, 180px;
}