body {
    margin: 0 auto;
    font-family: "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", Tahoma, Geneva, Verdana, sans-serif, "Segoe UI Symbol";
}

/*Temp, Remember to Delete*/
p {
    margin: 0;
    padding: 0;
}
/*Temp, Remember to Delete*/
a {
    text-decoration: none;
    cursor:pointer;
}

img {
  border: 0;
}

.more {
  text-decoration: none;
}

#slider:hover {
  cursor: pointer;
}

.f-logo {
	display: none;
}

.right_title .sub_more { font-size: 12px !important; }
