body {
    margin: 0 auto;
}
/*Temp, Remember to Delete*/
p {
    margin: 0;
    padding: 0;
}
/*Temp, Remember to Delete*/
a {
    text-decoration: none;
}
#subIndex {
    width: 1000px;
    height: auto;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}
#navigator2 {
    width: 1000px;
    height: 180px;
    margin: 0 auto;
    padding: 0;
    background-image: url("../images/sub_nav.png");
    background-size: 1000px, 180px;
}
.main_frame_sub {
    width: 1000px;
    height: auto;
    margin: 5px auto;
    padding: 0;
    background-color: white;
}
.left_sub {
    background-color: #075F9E;
    width: 200px;
    height: auto;
    float: left;
}
.right_sub {
    background-color: #075F9E;
    width: 200px;
    height: auto;
    float: right;
}
.detail_sub {
    background-color: #F1F1F1;
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
#foot {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 70px;
    background-color: #0E2746;
    text-align: center;
}
.foot_nav {
    margin: 0 auto;
}
#foot_nav a {
    color: white;
}