$w1280 : 1280px;
$full : 100%;

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
}

body {
	margin: 0 auto;
	text-align: center;
	width: $w1280;
// 	height: 720px;
	background: #c6eeff;
}

/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

/* header */
header {
// 	margin-bottom:2px;
	position:relative;
	width:$full;
	height: 190px;
	text-align:center;
	
	&:hover {
		.slider_nav {
			display:block;
		}
	}
}

#slider {
	position: relative;
	width: $full;
	overflow:hidden;
	
	li {
		position: absolute;
		display: none;
		width: $full;
		top: 0;
		left: 0;
		
		&:first-child {
			position: relative;
			display: block;
			float: left;
		}
	}
	
	img {
		width: $w1280;
		display: block;
		float: left;
		position:relative;
		z-index:1;
		width:$full;
		border:0;
	}
	
	.caption{
		display:block;
		position:absolute;
		z-index:2;
		font-size:20px;
		text-shadow:none;
		color:#fff;
		background:#000;
		background:rgba(0,0,0, .8);
		left:0;
		right:0;
		bottom:0;
		padding:10px 20px;
		margin:0;
		max-width:none;
	}
}

.slider_tabs {
	margin-top:-60px;
// 	margin-bottom:60px;
	position:relative;
	z-index:20;
	
	li {
		display: inline-block;
		position: relative;
		width: 10px;
		height: 10px;
		margin-left: 5px;
		border: 1px solid #fff;
		border-radius: 10px;
		
		a {
			position: absolute;
			width: 10px;
			height: 10px;
			overflow: hidden;
			border-radius: 10px;
			left: 0;
			color: #fff;
			color:rgba(255, 255, 255, 1);
		}
	}
	
	.slider_here a {
		background:#FFF;
	}
}

.slider_nav{
	position:absolute;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	top:50%;
	left:0;
	opacity:0.6;
	z-index:20;
	text-indent:-9999px;
	overflow:hidden;
	text-decoration:none;
	height:61px;
	width:38px;
	background:transparent url("../images/themes.gif") no-repeat left top;
	margin-top:-30px;
	display:none;
	
	&:active {
		opacity: 1;
	}
}

.slider_nav.next{
	left:auto;
	background-position:right top;
	right:0;
}

/* nav */
nav {
	height: 40px;
	position: relative;
	float: right;
	margin-top: -190px/* -247px */;
	top: 0;
	right: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	padding-right: 25px;
	color: #fff;
	z-index: 50;
}

/*** Superfish STYLES ***/
.sf-menu, .sf-menu * {
	list-style: none;
}
.sf-menu li {
	position: relative;
	border-right: 1px solid #fff;
// 	background: #BDD2FF;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 50;
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu > li {
	height: 40px;
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
	color: #fff;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-menu .last {
	border-right: none;
}
.sf-menu ul li {
	background: #9AAEDB;
	font-size: 0.9em;
	
	a {
		padding: 0.5em 1em;
		color: #1e3c98;
		
	}
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background: #CFDEFF;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

// Timeline
#timeline {
	position: relative;
	margin-top:11px;
	z-index: 40;
	font-size: 0.9em;
	
	span {
		
		display: inline-block;
		position: relative;
		float: left;
		background: #000;
		background:rgba(0,0,0,0.5);
		color: #fff;
		
		&:hover {
			cursor: pointer;
		}
	}
	span.prev {
		width: 18px;
		height: 30px;
		overflow: hidden;
		margin-left: 9px;
		background: url("../images/prevNext.png") no-repeat left center;
	}
	span.next {
		width: 17px;
		height: 30px;
		overflow: hidden;
		margin-right: 10px;
		background: url("../images/prevNext.png") no-repeat right center;
	}
	
	ul {
		display: inline-block;
		float: left;
	}
	
	li {
		overflow: hidden;
		height: 30px;
		list-style: none;
		background: #000;
		background: rgba(0, 0, 0, 0.5);
		float: left;
		margin-right: 2px;
		display: inline-block;
	}
	li.show {
		width: 380px;
		display: inline-block;
	}
	li.hide {
		display: none;
	}
	li.first {
		width: 230px;
	}
	li.last {
		width: 230px;
		margin-right: 0px;
	}
	
	a {
		padding: 0.5em 1em;
		display: block;
		position: relative;
		color: #fff;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

// body
#body {
// 	width: $full;
	margin-top: 42px;
	background: #fff;
	padding: 5px;
}

#body > div {
	display: inline-block;
	vertical-align: top;
}

#universityNews, #media, #academyNews, #others {
	border: 1px solid #e0e0e0;
	width: 480px;
	display: inline-block;
	padding: 10px;
	
	hr {
		border-bottom: solid #d5d5d5 2px;
		margin: 8px 0;
		display: block;
		overflow: hidden;
		float: none;
	}
	
	li {
		font-size: 0.9em;
		margin: 0.5em 0;
		list-style: none;
		text-align: left;
		color: #032f55;
		
		a {
			margin-left: 10px;
			text-decoration: none;
			color: #333;
			
			&:hover {
				color: #204496;
			}
		}
		
		.date {
			float: right;
			color: #333;
		}
	}
}

.head {
	text-align: left;
	
	h3, a, span {
		display: inline-block;
		vertical-align: middle;
// 		float: left;
	}
	
	.more {
		float: right;
		text-decoration: none;
	}
}

#universityNews {
	
	#firstNews {
		text-align: left;
		
		img {
			width: 226px;
			height: 150px;
			float: left;
			margin-right: 10px;
		}
		
		h4 {
			line-height: 1.5em;
		}
		
		p {
			color: #8d8d8d;
			font-size: 0.8em;
			line-height: 1.5em;
		}
		
		span {
			color: #8d8d8d;
			font-size: 0.8em;
			float: right;
			margin-right: 10px;
		}
	}
}

#media, #academyNews {
	width: 430px;
	display: block;
	margin-bottom: 5px;
}

#others {
	width: 270px;
	
	li a {
		margin-left: 0;
	}
	
	#links {
		.news {
			text-align: left;
			
			a {
				font-size: 0.8em;
				margin-left: 10px;
				text-decoration: none;
				color: #333;
				
				&:hover {
					color: #204496;
				}
			}
		}
	}
}




// footer
footer {
	background: #032f55;
// 	text-align: center;
// 	width: $full;
	height: 80px;
	padding: 10px;
	font-size: 0.85em;
	
	hr {
		border-bottom: solid #5a697c 1px;
		margin: 10px 0;
	}
}

#footer_link {
	width: 1000px;
	display: block;
	margin: 0 auto;
	
	a {
		display: inline-block;
// 		margin: 10px 0 8px 0;
		color: #fff;
		text-decoration: none;
	}
	
	.line {
		margin: 0 5px;
	}
}

#footer_left, #footer_right {
	display: inline-block;
	vertical-align: middle;
}

#footer_left {
	color: #fff;
	margin-left: 200px;
	float: left;
	
	a {
		color: #fff;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

#footer_right {
	color: #fff;
	margin-left: 20px;
	float: left;
	
	div,a,span {
		display: inline-block;
		vertical-align: middle;
		float: left;
	}
	
	span {
		text-align: left;
		margin: 0 10px 0 5px;
	}
}

.weixin {
	display: inline-block;
	width: 33px;
	height: 27px;
	background: url("../images/weixinWeibo.png") no-repeat left center;
}

.weibo {
	display: inline-block;
	width: 32px;
	height: 27px;
	background: url("../images/weixinWeibo.png") no-repeat right center;
}
