*
{
	margin:0;
	padding:0;
}
#subIndex {
    width: 1000px;
    height: auto;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}
#navigator2 {
    width: 1000px;
    height: 180px;
    margin: 0 auto;
    padding: 0;
    background-image: url("../images/sub_nav.png");
    background-size: 1000px 180px;
}
.head_nav {
    text-align: center;
    position: absolute;
    background-color: black;
    height: 40px;
    width: 545px;
    margin-left: 435px;
    margin-top: 130px;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    -moz-opacity: 0.9;

}
.head_nav ul, .head_nav ul li {
    margin: 0;
    padding: 0;
}
.head_nav ul li {
    float: left;
    width: 75px;
    line-height: 40px;
    font-size: small;
    list-style: none;
    background-image: url("../images/linetag.png");
    background-size: 75px 40px;
}
.head_nav a {
    color: white;
}
.main_frame_sub {
    width: 1000px;
    height: auto;
    margin: 5px auto;
    padding: 0;
    background-color: white;
}
.left_sub {
    background-color: #075F9E;
    padding: 0;
    margin: 0;
    width: 150px;
    height: auto;
    float: left;
}
.left_sub ul {
    margin: 0;
    padding: 0;
}
.left_sub ul li {
    font-size: 14px;
    color: white;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 150px;
    height: 50px;
    line-height: 50px;
}
.left_sub .left_end {
    background: url("../images/left_end.png") no-repeat;
    background-size: 150px 50px;
}
.left_sub .left_child {
    background: url("../images/left_child.png") no-repeat;
    background-size: 150px 50px;
}
.left_sub a {
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    height: 50px;
    line-height: 50px;
}
.right_sub {
    background-color: white;
    width: 150px;
    padding: 0;
    height: auto;
    float: right;
}
.detail_sub {
    background-color: #F1F1F1;
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    color: #5D6A70;
}
.sub_links {
    padding: 5px;
    width: 700px;
    margin: 0 auto;
}
.sub_links p {
    width: 700px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    font-size: 14px;
}
.sub_links img {
    padding: 0 5px;
    margin: 5px auto;
}
.sub_links table {
    border: hidden;
    margin: 0 auto;
}
.sub_links td {

    width: 220px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    background: url("../images/nav_link.png") no-repeat;
    background-size: 220px 30px;
}
.sub_links td a {
    padding-left: 10px;
    color: #5D6A70;
    font-size: small;
}
#foot {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 70px;
    background-color: #0E2746;
    text-align: center;
}
.foot_nav {
    margin: 0 auto;
}
#foot_nav a {
    color: white;
}
